# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.pytest_cache/
.ruff_cache/

# Git
.git/
.gitignore

# IDE
.vscode/

# Environment
.env

# Testing
.pytest_cache/
.hypothesis/
htmlcov/
.coverage

# Static files
staticfiles/

# Misc
*.log
.DS_Store
